modules = ["java-17"]
[nix]
channel = "stable-24_05"
packages = ["unzip", "maven", "jdk", "openjdk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FullDeadsideBot"

[[workflows.workflow]]
name = "FullDeadsideBot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_full_bot.sh"

[deployment]
run = ["sh", "-c", "chmod +x setup.sh && ./setup.sh"]

[[ports]]
localPort = 8080
externalPort = 80
